<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
      <link rel="stylesheet" href="/css/app.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <link href="/css/tidy-table.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css">

      <style type="text/css">
        body, html {
          font-family: verdana, sans-serif;
        }

        .custom-style1 {
          fill: #f2ea00;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #b3ab00;
        }

        .custom-style2 {
          fill: #00a0f2;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #050092;
        }

        .custom-style3 {
          fill: #00f201;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #029200;
        }

        path.custom-style3.fill {
          fill-opacity:0.5 !important;
          stroke: none;
        }

        .vis-graph-group0 {
          fill:#4f81bd;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #4f81bd;
        }

        .vis-graph-group1 {
          fill:#f79646;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #f79646;
        }

        .vis-graph-group2 {
          fill: #8c51cf;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #8c51cf;
        }

        .vis-graph-group3 {
          fill: #75c841;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #75c841;
        }

        .vis-graph-group4 {
          fill: #ff0100;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #ff0100;
        }

        .vis-graph-group5 {
          fill: #37d8e6;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #37d8e6;
        }

        .vis-graph-group6 {
          fill: #042662;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #042662;
        }

        .vis-graph-group7 {
          fill:#00ff26;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #00ff26;
        }

        .vis-graph-group8 {
          fill:#ff00ff;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #ff00ff;
        }

        .vis-graph-group9 {
          fill: #8f3938;
          fill-opacity:0;
          stroke-width:2px;
          stroke: #8f3938;
        }

        .vis-fill {
          fill-opacity:0.1;
          stroke: none;
        }


        .vis-bar {
          fill-opacity:0.5;
          stroke-width:1px;
        }

        .vis-point {
          stroke-width:2px;
          fill-opacity:1.0;
        }


        .vis-legend-background {
          stroke-width:1px;
          fill-opacity:0.9;
          fill: #ffffff;
          stroke: #c2c2c2;
        }


        .vis-outline {
          stroke-width:1px;
          fill-opacity:1;
          fill: #ffffff;
          stroke: #e5e5e5;
        }

        .vis-icon-fill {
          fill-opacity:0.3;
          stroke: none;
        }

        div.description-container {
          float:left;
          height:30px;
          width:300px;
          padding-left:5px;
          padding-right:5px;
          line-height: 30px;
        }

        div.icon-container {
          float:left;
        }

        div.legend-element-container {
          display:inline-block;
          width:340px;
          height:30px;
          border-style:solid;
          border-width:1px;
          border-color: #e0e0e0;
          background-color: #ffffff;
          margin:4px;
          padding:4px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor:pointer;
        }
        div.legend-element-container.hidden {
          background-color: #d3e6ff;
        }

        svg.legend-icon {
          width:30px;
          height:30px;
        }

        div.external-legend {
          position:relative;
          margin-left: -5px;
          width: 900px;
        }
      </style>
    </head>
    <body>
      <div class="container-fluid" style="background-color: #7FA8FF">
        <div class="container-fluid" style="background-color: #1A63FF">
            <h1 style="color: #ADC7FF">OT<b>dash</b>board</h1>
            <div class="container" style="background-color: white">
              <div class="row">
                <div class="col-md-12"><h5>Featured Graphs</h5><h6>Drag left/right, zoom, click legend to show/hide datapoints</h6><h6>dwOpen announced 22-July-2015</h6></div>
              </div>
            </div>
        </div>
        <div class="container" style="background-color: white">
          <div class="row">
            <div class="col-md-4"><h3>Number of Commits</h3><h4>by day</h4><div id="legend1"></div></div>
            <div class="col-md-8"><div id="committotals"></div></div>
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-4"><h3>People Committing</h3><h4>by week</h4><div id="legend2"></div></div>
            <div class="col-md-8"><div id="committertotals"></div></div>
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-4"><h3>Commits <span id='counter3'></span></h3><h4>by top 8 projects</h4><div id="legend3"></div></div>
            <div class="col-md-8"><div id="getcommitsbyrepo"></div></div>
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
          <div class="row">
            <div class="col-md-4"><h3>Commits <span id='counter4'></span></h3><div id="legend4"></div></div>
            <div class="col-md-8"><div id="getcommitsbyscatter"></div></div>
          </div>
          <div class="row">
            <div class="col-md-12"><hr></div>
          </div>
        </div>
      </div>

      <!-- ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
      <script src="/javascript/drawcommittotals.js"></script>
      <script src="/javascript/drawcommittertotals.js"></script>
      <script src="/javascript/drawcommitsbyrepo.js"></script>
      <!-- <script src="/javascript/drawcommitsbyscatter.js"></script> -->

      <script type="text/javascript">

        function populateExternalLegend(container, groups, graph2d) {
          var groupsData = groups.get();
          var legendDiv = document.getElementById(container);
          legendDiv.innerHTML = "";

          // get for all groups:
          for (var i = 0; i < groupsData.length; i++) {
            // create divs
            var containerDiv = document.createElement("div");
            var iconDiv = document.createElement("div");
            var descriptionDiv = document.createElement("div");

            // give divs classes and Ids where necessary
            containerDiv.className = 'legend-element-container';
            containerDiv.id = groupsData[i].id + "_legendContainer"
            iconDiv.className = "icon-container";
            descriptionDiv.className = "description-container";

            // get the legend for this group.
            var legend = graph2d.getLegend(groupsData[i].id,10,10);

            // append class to icon. All styling classes from the vis.css have been copied over into the head here to be able to style the
            // icons with the same classes if they are using the default ones.
            legend.icon.setAttributeNS(null, "class", "legend-icon");

            // append the legend to the corresponding divs
            iconDiv.appendChild(legend.icon);
            descriptionDiv.innerHTML = legend.label;

            // determine the order for left and right orientation
            if (legend.orientation == 'left') {
              descriptionDiv.style.textAlign = "left";
              containerDiv.appendChild(iconDiv);
              containerDiv.appendChild(descriptionDiv);
            }
            else {
              descriptionDiv.style.textAlign = "right";
              containerDiv.appendChild(descriptionDiv);
              containerDiv.appendChild(iconDiv);
            }

            // append to the legend container div
            legendDiv.appendChild(containerDiv);

            // bind click event to this legend element.
            containerDiv.onclick = toggleGraph.bind(this,groupsData[i].id, groups, graph2d);
          }
        }


        function toggleGraph(groupId, groups, graph2d) {
          // get the container that was clicked on.
          var container = document.getElementById(groupId + "_legendContainer")
          // if visible, hide
          if (graph2d.isGroupVisible(groupId) == true) {
            groups.update({id:groupId, visible:false});
            //container.className = container.className + " hidden";
          }
          else { // if invisible, show
            groups.update({id:groupId, visible:true});
            //container.className = container.className.replace("hidden","");
          }
        }


        $(function () {
            var jqxhr = $.ajax({
              url: '/vis/getcommittotals',
              dataType: "jsonp",
              crossDomain: true,
              data: '',
              success: drawcommittotals
            })

            var jqxhr2 = $.ajax({
              url: '/vis/getcommittertotals',
              dataType: "jsonp",
              crossDomain: true,
              data: '',
              success: drawcommittertotals
            })

            var jqxhr3 = $.ajax({
              url: '/vis/getcommitsbyrepo',
              dataType: "jsonp",
              crossDomain: true,
              data: '',
              success: drawcommitsbyrepo
            })
/*
            var jqxhr4 = $.ajax({
              url: '/getcommitsbyscatter',
              dataType: "jsonp",
              crossDomain: true,
              data: '',
              success: drawcommitsbyscatter
            })*/
        });
      </script>
    </body>
</html>