<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
      <link rel="stylesheet" href="/css/app.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css">
    </head>
    <body>

      <!-- ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
      <script src="/javascript/drawvitalityscatter.js"></script>

      <script type="text/javascript">

        $(function () {
            var jqxhr = $.ajax({
              url: '/getcommitcountbyrepo',
              dataType: "jsonp",
              crossDomain: true,
              data: '',
              success: drawvitalityscatter
            })
        });
      </script>
    </body>
</html>