body, html {
  font-family: verdana, sans-serif;
}

.custom-style1 {
  fill: #f2ea00;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #b3ab00;
}

.custom-style2 {
  fill: #00a0f2;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #050092;
}

.custom-style3 {
  fill: #00f201;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #029200;
}

path.custom-style3.fill {
  fill-opacity:0.5 !important;
  stroke: none;
}

.vis-graph-group0 {
  fill:#4f81bd;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #4f81bd;
}

.vis-graph-group1 {
  fill:#f79646;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #f79646;
}

.vis-graph-group2 {
  fill: #8c51cf;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #8c51cf;
}

.vis-graph-group3 {
  fill: #75c841;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #75c841;
}

.vis-graph-group4 {
  fill: #ff0100;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #ff0100;
}

.vis-graph-group5 {
  fill: #37d8e6;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #37d8e6;
}

.vis-graph-group6 {
  fill: #042662;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #042662;
}

.vis-graph-group7 {
  fill:#00ff26;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #00ff26;
}

.vis-graph-group8 {
  fill:#ff00ff;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #ff00ff;
}

.vis-graph-group9 {
  fill: #8f3938;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #8f3938;
}

.vis-fill {
  fill-opacity:0.1;
  stroke: none;
}


.vis-bar {
  fill-opacity:0.5;
  stroke-width:1px;
}

.vis-point {
  stroke-width:2px;
  fill-opacity:1.0;
}


.vis-legend-background {
  stroke-width:1px;
  fill-opacity:0.9;
  fill: #ffffff;
  stroke: #c2c2c2;
}


.vis-outline {
  stroke-width:1px;
  fill-opacity:1;
  fill: #ffffff;
  stroke: #e5e5e5;
}

.vis-icon-fill {
  fill-opacity:0.3;
  stroke: none;
}

div.description-container {
  float:left;
  height:30px;
  width:300px;
  padding-left:5px;
  padding-right:5px;
  line-height: 30px;
}

div.icon-container {
  float:left;
}

div.legend-element-container {
  display:inline-block;
  width:340px;
  height:30px;
  border-style:solid;
  border-width:1px;
  border-color: #e0e0e0;
  background-color: #ffffff;
  margin:4px;
  padding:4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
}
div.legend-element-container.hidden {
  background-color: #d3e6ff;
}

svg.legend-icon {
  width:30px;
  height:30px;
}

div.external-legend {
  position:relative;
  margin-left: -5px;
  width: 900px;
}